In [7]:
from warnings import filterwarnings
filterwarnings("ignore")
import pandas as pd
A = pd.read_csv("C:/Users/Audi/Downloads/50_Startups.csv")

In [8]:
A.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

# Define Y and X

In [11]:
Y = A[["PROFIT"]]
X = A.drop(labels=["PROFIT"],axis=1)

# preprocessing of Data

In [14]:
from Preprocessing_Audi import preprocessing
Xnew = preprocessing(A)

In [18]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=23)

# Create Nural Network(NN)

In [25]:
from sklearn.neural_network import MLPRegressor
mlpr= MLPRegressor(hidden_layer_sizes=(100,100,100),random_state=23)
nn= mlpr.fit(xtrain,ytrain)
pred_ts= nn.predict(xtest)
pred_tr= nn.predict(xtrain)

In [27]:
from sklearn.metrics import mean_squared_error
ts_err= mean_squared_error(ytest,pred_ts)
tr_err= mean_squared_error(ytrain,pred_tr)

In [29]:
ts_err

10553703606.384083

In [30]:
tr_err

9896154862.399445

In [35]:
from numpy import sqrt

In [34]:
sqrt(ts_err)

102731.22021266993

In [33]:
sqrt(ts_err)

102731.22021266993